/.idea
/.git
/output
/project
/target
/release
project/project
/node_modules
typings
/libraries
database/README.txt
database/SensorTypes.sql
database/old/
demotics.iml
documents/130829100803-motoman-japanese-robot-chef-horizontal-gallery.jpg
documents/Domotics.2.pdf
documents/Domotics.2.pptx
documents/IoTPresentation/
documents/Presentation/
documents/pi4j-savage-devoxx.pdf
logs/
arduino/domotics-NodeMcu-0.9/access.h
arduino/domotics-NodeMcu-1.0/access.h
arduino/domotics3/access.h
arduino/domotics4/access.h
arduino/domotics5/access.h
domotics.iml
frontend/e2e/
frontend/package-lock.json
frontend/src/app/DisplayChartComponent/display-chart.component.js
frontend/src/app/DisplayChartComponent/display-chart.component.js.map
frontend/src/app/DisplayStation/display-station.component.js
frontend/src/app/DisplayStation/display-station.component.js.map
frontend/src/app/OptionSelect/option-select.component.js
frontend/src/app/OptionSelect/option-select.component.js.map
frontend/src/app/models/DisplayOptions.js
frontend/src/app/models/DisplayOptions.js.map
frontend/src/app/models/Measurement.js
frontend/src/app/models/Measurement.js.map
frontend/src/app/models/Option.js
frontend/src/app/models/Option.js.map
frontend/src/app/models/SensorType.js
frontend/src/app/models/SensorType.js.map
frontend/src/app/models/Station.js
frontend/src/app/models/Station.js.map
frontend/src/app/services/heatIndex.services.js
frontend/src/app/services/heatIndex.services.js.map
frontend/src/app/services/humidity.services.js
frontend/src/app/services/humidity.services.js.map
frontend/src/app/services/sensortype.services.js
frontend/src/app/services/sensortype.services.js.map
frontend/src/app/services/station.services.js
frontend/src/app/services/station.services.js.map
frontend/src/app/services/temperature.services.js
frontend/src/app/services/temperature.services.js.map
temp_public/
database/ListOfStations2.sql
database/Migration to Arrango/
documents/package-lock.json
mysql/
scripts/nohup.out
scripts/wifirefresh.sh
src/main/resources/public/
