<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Train Controller Logo"
    src="assets/favicon.png"
  />
  <span>Welcome to the LEGO {{title}}</span>
  <img
    width="40"
    alt="Lego Logo"
    src="assets/Lego-logo.jpeg"
  />
</div>

<div class="content centerAll">
  <div class="roundbox centerLeft">
    <div><Button class="myButton" (click)="onStart()" >Start train</Button></div>
    <div><Button class="myButton" (click)="onFaster()" >Faster</Button></div>
    <div><Button class="myButton" (click)="onSlower()" >Slower</Button></div>
    <div><Button class="myButton" (click)="onStop()" >Stop Train</Button></div>
  </div>
</div>


