<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Train Controller Logo"
    src="assets/favicon.png"
  />
  <span>Welcome to the LEGO train controller</span>
  <img
    width="40"
    alt="Lego Logo"
    src="assets/Lego-logo.jpeg"
  />
</div>

<div class="content centerAll">
  <div><button class="myButton" type="button" (click)="onStart()" >Start train</button></div>
  <div><button class="myButton" type="button" (click)="onFaster()" >Faster</button></div>
  <div><button class="myButton" type="button" (click)="onSlower()" >Slower</button></div>
  <div><button class="myButton" type="button" (click)="onStop()" >Stop Train</button></div>
</div>


